{% extends "base.html" %}

{% block page_content %}
<div class="post space" style="height: 700px; width: 1000px; border: 1px solid forestgreen; margin: auto;">

    <div class="page-header" style="height: 100%; width: 700px; border:1px solid #ff006a; display: inline-block; margin: 0 0 0 0;">
        <div class="item_header" style="padding: 10px">
            <span class="user_icon">
                <div><img src="Slack-icon.jpg" height=30px width=30px alt=icon style="float: left;"></div>
            </span>
        </div>
    </div>
    <div class="news" style="height: 100%; width: 250px; border:1px solid rgb(0, 225, 255); display: inline-block; margin: 0 0 0 3%;">
        <h1>??</h1>
    </div>
</div>
{% endblock %}